# Project

### Objective


Learn how to connect to social media network (we will use Twitter as example in this assignment), and collect/preprocess/analyze its data


Tweets Data Can be used for different purposes by marketing department and data analytics team. For example:

- Compete with rivals to offer price-match gaurantee policy
- Offer same coupons like rivals in the market place

### Installation and Setup

For this assignment you need to do the following setup first:

1.  Create an account on twitter.com.

2.  Generate authentication tokens by following the instructions here : 
    https://dev.twitter.com/oauth/overview/application-owner-access-tokens

3.  Add your tokens to the credentials.txt file.

### Twitter API

Twitter API

Two APIs:

    REST API: Submit HTTP requests to access specific information (tweets, friends, ...)
    Streaming API: Open a continuous connection to Twitter to receive real-time data.

These APIs are  HTTP GET request




Here are the twitter API docs that you must familiarize yourself with

https://dev.twitter.com/rest/reference/get/followers/ids

https://dev.twitter.com/overview/api/twitter-libraries

When you search in a text (tweets are text messages), often you need to be aware of something STOP WORDS.
You could read more about stop-words here:
 
    https://en.wikipedia.org/wiki/Stop_words

# Lets create twitter object and use its API. Code snippets below will show you how to use this API

In [267]:
from TwitterAPI import TwitterAPI, TwitterOAuth, TwitterRestPager

In [268]:
o = TwitterOAuth.read_file('credentials.txt')

In [269]:
o.access_token_key

'930885007748620289-RGbHOvNM9eu1sDSpDqWn70J9skuAUQ9'

In [270]:
# Using OAuth1...
twitter = TwitterAPI(o.consumer_key,
                 o.consumer_secret,
                 o.access_token_key,
                 o.access_token_secret)

In [271]:
help(twitter)

Help on TwitterAPI in module TwitterAPI.TwitterAPI object:

class TwitterAPI(__builtin__.object)
 |  Access REST API or Streaming API resources.
 |
 |  :param consumer_key: Twitter application consumer key
 |  :param consumer_secret: Twitter application consumer secret
 |  :param access_token_key: Twitter application access token key
 |  :param access_token_secret: Twitter application access token secret
 |  :param auth_type: "oAuth1" (default) or "oAuth2"
 |  :param proxy_url: HTTPS proxy URL (ex. "https://USER:PASSWORD@SERVER:PORT")
 |
 |  Methods defined here:
 |
 |  __init__(self, consumer_key=None, consumer_secret=None, access_token_key=None, access_token_secret=None, auth_type='oAuth1', proxy_url=None)
 |      Initialize with your Twitter application credentials
 |
 |  request(self, resource, params=None, files=None, method_override=None)
 |      Request a Twitter REST API or Streaming API resource.
 |
 |      :param resource: A valid Twitter endpoint (ex. "search/tweets")
 |      :param params: Dictionary with endpoint parameters or None (default)
 |      :param files: Dictionary with multipart-encoded file or None (default)
 |      :param method_override: Request method to override or None (default)
 |
 |      :returns: TwitterResponse
 |      :raises: TwitterConnectionError
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [272]:
# What can we do with this twitter object?
# builtin method `dir` tells us...
dir(twitter)

['__class__',
 '__delattr__',
 '__dict__',
 '__doc__',
 '__format__',
 '__getattribute__',
 '__hash__',
 '__init__',
 '__module__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_get_endpoint',
 '_prepare_url',
 'auth',
 'proxies',
 'request']

In [273]:
twitter.auth

In [274]:
# Get help on the `request` method using the builtin method called...`help`
help(twitter.request)

Help on method request in module TwitterAPI.TwitterAPI:

request(self, resource, params=None, files=None, method_override=None) method of TwitterAPI.TwitterAPI.TwitterAPI instance
    Request a Twitter REST API or Streaming API resource.

    :param resource: A valid Twitter endpoint (ex. "search/tweets")
    :param params: Dictionary with endpoint parameters or None (default)
    :param files: Dictionary with multipart-encoded file or None (default)
    :param method_override: Request method to override or None (default)

    :returns: TwitterResponse
    :raises: TwitterConnectionError

In [275]:
# Let's start by querying the search API
response = twitter.request('search/tweets', {'q': 'big+data'})

In [276]:
# What object is returned?
# builtin type method will tell us.
print type(response)
dir(response)

<class 'TwitterAPI.TwitterAPI.TwitterResponse'>

['__class__',
 '__delattr__',
 '__dict__',
 '__doc__',
 '__format__',
 '__getattribute__',
 '__hash__',
 '__init__',
 '__iter__',
 '__module__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'close',
 'get_iterator',
 'get_rest_quota',
 'headers',
 'json',
 'response',
 'status_code',
 'stream',
 'text']

In [277]:
response.json

In [278]:
response.status_code
# See https://dev.twitter.com/overview/api/response-codes

200

In [279]:
tweets = [r for r in response]

In [280]:
print('found %d tweets' % len(tweets))

found 15 tweets

In [281]:
type(tweets)

list

In [282]:
type(tweets[0])

dict

In [283]:
tweets[0]

{u'contributors': None,
 u'coordinates': None,
 u'created_at': u'Tue Nov 21 09:07:52 +0000 2017',
 u'entities': {u'hashtags': [{u'indices': [34, 43], u'text': u'Heineken'},
   {u'indices': [49, 57], u'text': u'BigData'},
   {u'indices': [63, 67], u'text': u'IOT'},
   {u'indices': [73, 96], u'text': u'ArtificialIntelligence'},
   {u'indices': [97, 100], u'text': u'AI'},
   {u'indices': [126, 134], u'text': u'startup'},
   {u'indices': [135, 141], u'text': u'India'}],
  u'symbols': [],
  u'urls': [{u'display_url': u'forbes.com/sites/bernardm\u2026',
    u'expanded_url': u'https://www.forbes.com/sites/bernardmarr/2017/11/20/the-incredible-ways-heineken-uses-big-data-the-internet-of-things-and-artificial-intelligence-ai/#7aa75cbc480',
    u'indices': [102, 125],
    u'url': u'https://t.co/ffQXR4x6cs'}],
  u'user_mentions': [{u'id': 58422778,
    u'id_str': u'58422778',
    u'indices': [3, 12],
    u'name': u'Ramachandran Azhakar',
    u'screen_name': u'razhakar'}]},
 u'favorite_count': 0,
 u'favorited': False,
 u'geo': None,
 u'id': 932898344141193216L,
 u'id_str': u'932898344141193216',
 u'in_reply_to_screen_name': None,
 u'in_reply_to_status_id': None,
 u'in_reply_to_status_id_str': None,
 u'in_reply_to_user_id': None,
 u'in_reply_to_user_id_str': None,
 u'is_quote_status': False,
 u'lang': u'en',
 u'metadata': {u'iso_language_code': u'en', u'result_type': u'recent'},
 u'place': None,
 u'possibly_sensitive': False,
 u'retweet_count': 7,
 u'retweeted': False,
 u'retweeted_status': {u'contributors': None,
  u'coordinates': None,
  u'created_at': u'Tue Nov 21 08:56:43 +0000 2017',
  u'entities': {u'hashtags': [{u'indices': [20, 29], u'text': u'Heineken'},
    {u'indices': [35, 43], u'text': u'BigData'},
    {u'indices': [49, 53], u'text': u'IOT'},
    {u'indices': [59, 82], u'text': u'ArtificialIntelligence'},
    {u'indices': [83, 86], u'text': u'AI'}],
   u'symbols': [],
   u'urls': [{u'display_url': u'forbes.com/sites/bernardm\u2026',
     u'expanded_url': u'https://www.forbes.com/sites/bernardmarr/2017/11/20/the-incredible-ways-heineken-uses-big-data-the-internet-of-things-and-artificial-intelligence-ai/#7aa75cbc480',
     u'indices': [88, 111],
     u'url': u'https://t.co/ffQXR4x6cs'},
    {u'display_url': u'twitter.com/i/web/status/9\u2026',
     u'expanded_url': u'https://twitter.com/i/web/status/932895539804364800',
     u'indices': [113, 136],
     u'url': u'https://t.co/qG5EUddalf'}],
   u'user_mentions': []},
  u'favorite_count': 0,
  u'favorited': False,
  u'geo': None,
  u'id': 932895539804364800L,
  u'id_str': u'932895539804364800',
  u'in_reply_to_screen_name': None,
  u'in_reply_to_status_id': None,
  u'in_reply_to_status_id_str': None,
  u'in_reply_to_user_id': None,
  u'in_reply_to_user_id_str': None,
  u'is_quote_status': False,
  u'lang': u'en',
  u'metadata': {u'iso_language_code': u'en', u'result_type': u'recent'},
  u'place': None,
  u'possibly_sensitive': False,
  u'retweet_count': 7,
  u'retweeted': False,
  u'source': u'<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>',
  u'text': u'The Incredible Ways #Heineken Uses #BigData, The #IOT&amp; #ArtificialIntelligence(#AI) https://t.co/ffQXR4x6cs\u2026 https://t.co/qG5EUddalf',
  u'truncated': True,
  u'user': {u'contributors_enabled': False,
   u'created_at': u'Mon Jul 20 08:10:42 +0000 2009',
   u'default_profile': False,
   u'default_profile_image': False,
   u'description': u'Dr. Ramachandran Azhakar; Chemist. A World Citizen. Sharing Interesting Content. RTs, links not endorsements.',
   u'entities': {u'description': {u'urls': []},
    u'url': {u'urls': [{u'display_url': u'linkedin.com/in/ramachandra\u2026',
       u'expanded_url': u'https://www.linkedin.com/in/ramachandran-azhakar-1a610235',
       u'indices': [0, 23],
       u'url': u'https://t.co/xIlq5kEXCU'}]}},
   u'favourites_count': 744,
   u'follow_request_sent': False,
   u'followers_count': 2733,
   u'following': False,
   u'friends_count': 2447,
   u'geo_enabled': False,
   u'has_extended_profile': False,
   u'id': 58422778,
   u'id_str': u'58422778',
   u'is_translation_enabled': False,
   u'is_translator': False,
   u'lang': u'en',
   u'listed_count': 470,
   u'location': u'Germany',
   u'name': u'Ramachandran Azhakar',
   u'notifications': False,
   u'profile_background_color': u'C0DEED',
   u'profile_background_image_url': u'http://pbs.twimg.com/profile_background_images/435509912580288512/24-CzhU0.jpeg',
   u'profile_background_image_url_https': u'https://pbs.twimg.com/profile_background_images/435509912580288512/24-CzhU0.jpeg',
   u'profile_background_tile': True,
   u'profile_banner_url': u'https://pbs.twimg.com/profile_banners/58422778/1390174729',
   u'profile_image_url': u'http://pbs.twimg.com/profile_images/378800000330618950/2bb9cd972c2f6fbe957ac875c8755064_normal.jpeg',
   u'profile_image_url_https': u'https://pbs.twimg.com/profile_images/378800000330618950/2bb9cd972c2f6fbe957ac875c8755064_normal.jpeg',
   u'profile_link_color': u'1B95E0',
   u'profile_sidebar_border_color': u'000000',
   u'profile_sidebar_fill_color': u'DDEEF6',
   u'profile_text_color': u'333333',
   u'profile_use_background_image': False,
   u'protected': False,
   u'screen_name': u'razhakar',
   u'statuses_count': 3175,
   u'time_zone': u'Greenland',
   u'translator_type': u'none',
   u'url': u'https://t.co/xIlq5kEXCU',
   u'utc_offset': -10800,
   u'verified': False}},
 u'source': u'<a href="http://www.androidlab.in" rel="nofollow">UmmOkay</a>',
 u'text': u'RT @razhakar: The Incredible Ways #Heineken Uses #BigData, The #IOT&amp; #ArtificialIntelligence(#AI) https://t.co/ffQXR4x6cs #startup #India #\u2026',
 u'truncated': False,
 u'user': {u'contributors_enabled': False,
  u'created_at': u'Tue Apr 21 10:37:13 +0000 2015',
  u'default_profile': True,
  u'default_profile_image': False,
  u'description': u'Follow for all the startup news from India\nAnyone with #startup #india gets retweeted. Be accountable.',
  u'entities': {u'description': {u'urls': []}},
  u'favourites_count': 144,
  u'follow_request_sent': False,
  u'followers_count': 1592,
  u'following': False,
  u'friends_count': 465,
  u'geo_enabled': True,
  u'has_extended_profile': False,
  u'id': 3166596829L,
  u'id_str': u'3166596829',
  u'is_translation_enabled': False,
  u'is_translator': False,
  u'lang': u'en',
  u'listed_count': 2946,
  u'location': u'India',
  u'name': u'Startup News India',
  u'notifications': False,
  u'profile_background_color': u'C0DEED',
  u'profile_background_image_url': u'http://abs.twimg.com/images/themes/theme1/bg.png',
  u'profile_background_image_url_https': u'https://abs.twimg.com/images/themes/theme1/bg.png',
  u'profile_background_tile': False,
  u'profile_banner_url': u'https://pbs.twimg.com/profile_banners/3166596829/1474970884',
  u'profile_image_url': u'http://pbs.twimg.com/profile_images/780709747020423168/x5jhOyOY_normal.jpg',
  u'profile_image_url_https': u'https://pbs.twimg.com/profile_images/780709747020423168/x5jhOyOY_normal.jpg',
  u'profile_link_color': u'1DA1F2',
  u'profile_sidebar_border_color': u'C0DEED',
  u'profile_sidebar_fill_color': u'DDEEF6',
  u'profile_text_color': u'333333',
  u'profile_use_background_image': True,
  u'protected': False,
  u'screen_name': u'StartupNewsIND',
  u'statuses_count': 30051,
  u'time_zone': u'Pacific Time (US & Canada)',
  u'translator_type': u'none',
  u'url': None,
  u'utc_offset': -28800,
  u'verified': False}}

In [284]:
help(tweets[0])

Help on dict object:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Methods defined here:
 |
 |  __cmp__(...)
 |      x.__cmp__(y) <==> cmp(x,y)
 |
 |  __contains__(...)
 |      D.__contains__(k) -> True if D has a key k, else False
 |
 |  __delitem__(...)
 |      x.__delitem__(y) <==> del x[y]
 |
 |  __eq__(...)
 |      x.__eq__(y) <==> x==y
 |
 |  __ge__(...)
 |      x.__ge__(y) <==> x>=y
 |
 |  __getattribute__(...)
 |      x.__getattribute__('name') <==> x.name
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(...)
 |      x.__gt__(y) <==> x>y
 |
 |  __init__(...)
 |      x.__init__(...) initializes x; see help(type(x)) for signature
 |
 |  __iter__(...)
 |      x.__iter__() <==> iter(x)
 |
 |  __le__(...)
 |      x.__le__(y) <==> x<=y
 |
 |  __len__(...)
 |      x.__len__() <==> len(x)
 |
 |  __lt__(...)
 |      x.__lt__(y) <==> x<y
 |
 |  __ne__(...)
 |      x.__ne__(y) <==> x!=y
 |
 |  __repr__(...)
 |      x.__repr__() <==> repr(x)
 |
 |  __setitem__(...)
 |      x.__setitem__(i, y) <==> x[i]=y
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  fromkeys(...)
 |      dict.fromkeys(S[,v]) -> New dict with keys from S and values equal to v.
 |      v defaults to None.
 |
 |  get(...)
 |      D.get(k[,d]) -> D[k] if k in D, else d.  d defaults to None.
 |
 |  has_key(...)
 |      D.has_key(k) -> True if D has a key k, else False
 |
 |  items(...)
 |      D.items() -> list of D's (key, value) pairs, as 2-tuples
 |
 |  iteritems(...)
 |      D.iteritems() -> an iterator over the (key, value) items of D
 |
 |  iterkeys(...)
 |      D.iterkeys() -> an iterator over the keys of D
 |
 |  itervalues(...)
 |      D.itervalues() -> an iterator over the values of D
 |
 |  keys(...)
 |      D.keys() -> list of D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |      If key is not found, d is returned if given, otherwise KeyError is raised
 |
 |  popitem(...)
 |      D.popitem() -> (k, v), remove and return some (key, value) pair as a
 |      2-tuple; but raise KeyError if D is empty.
 |
 |  setdefault(...)
 |      D.setdefault(k[,d]) -> D.get(k,d), also set D[k]=d if k not in D
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E present and has a .keys() method, does:     for k in E: D[k] = E[k]
 |      If E present and lacks .keys() method, does:     for (k, v) in E: D[k] = v
 |      In either case, this is followed by: for k in F: D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> list of D's values
 |
 |  viewitems(...)
 |      D.viewitems() -> a set-like object providing a view on D's items
 |
 |  viewkeys(...)
 |      D.viewkeys() -> a set-like object providing a view on D's keys
 |
 |  viewvalues(...)
 |      D.viewvalues() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None
 |
 |  __new__ = <built-in method __new__ of type object>
 |      T.__new__(S, ...) -> a new object with type S, a subtype of T

In [285]:
tweets[0].keys()

[u'contributors',
 u'truncated',
 u'text',
 u'is_quote_status',
 u'in_reply_to_status_id',
 u'id',
 u'favorite_count',
 u'entities',
 u'retweeted',
 u'coordinates',
 u'source',
 u'in_reply_to_screen_name',
 u'in_reply_to_user_id',
 u'retweet_count',
 u'id_str',
 u'favorited',
 u'retweeted_status',
 u'user',
 u'geo',
 u'in_reply_to_user_id_str',
 u'possibly_sensitive',
 u'lang',
 u'created_at',
 u'in_reply_to_status_id_str',
 u'place',
 u'metadata']

In [286]:
tweets[0]['text']

u'RT @razhakar: The Incredible Ways #Heineken Uses #BigData, The #IOT&amp; #ArtificialIntelligence(#AI) https://t.co/ffQXR4x6cs #startup #India #\u2026'

In [287]:
tweets[0]['created_at']

u'Tue Nov 21 09:07:52 +0000 2017'

In [288]:
tweets[14]['text']

u'RT @findemor: Publican mi informe en el bolet\xedn de solusoft.es acerca de c\xf3mo deber\xedan enfrentar las empresas la revoluci\xf3n de la IA que se\u2026'

In [289]:
tweets[0]['user']

{u'contributors_enabled': False,
 u'created_at': u'Tue Apr 21 10:37:13 +0000 2015',
 u'default_profile': True,
 u'default_profile_image': False,
 u'description': u'Follow for all the startup news from India\nAnyone with #startup #india gets retweeted. Be accountable.',
 u'entities': {u'description': {u'urls': []}},
 u'favourites_count': 144,
 u'follow_request_sent': False,
 u'followers_count': 1592,
 u'following': False,
 u'friends_count': 465,
 u'geo_enabled': True,
 u'has_extended_profile': False,
 u'id': 3166596829L,
 u'id_str': u'3166596829',
 u'is_translation_enabled': False,
 u'is_translator': False,
 u'lang': u'en',
 u'listed_count': 2946,
 u'location': u'India',
 u'name': u'Startup News India',
 u'notifications': False,
 u'profile_background_color': u'C0DEED',
 u'profile_background_image_url': u'http://abs.twimg.com/images/themes/theme1/bg.png',
 u'profile_background_image_url_https': u'https://abs.twimg.com/images/themes/theme1/bg.png',
 u'profile_background_tile': False,
 u'profile_banner_url': u'https://pbs.twimg.com/profile_banners/3166596829/1474970884',
 u'profile_image_url': u'http://pbs.twimg.com/profile_images/780709747020423168/x5jhOyOY_normal.jpg',
 u'profile_image_url_https': u'https://pbs.twimg.com/profile_images/780709747020423168/x5jhOyOY_normal.jpg',
 u'profile_link_color': u'1DA1F2',
 u'profile_sidebar_border_color': u'C0DEED',
 u'profile_sidebar_fill_color': u'DDEEF6',
 u'profile_text_color': u'333333',
 u'profile_use_background_image': True,
 u'protected': False,
 u'screen_name': u'StartupNewsIND',
 u'statuses_count': 30051,
 u'time_zone': u'Pacific Time (US & Canada)',
 u'translator_type': u'none',
 u'url': None,
 u'utc_offset': -28800,
 u'verified': False}

In [290]:
user = tweets[0]['user']
print('screen_name=%s, name=%s, location=%s' % (user['screen_name'], user['name'], user['location']))

screen_name=StartupNewsIND, name=Startup News India, location=India

In [291]:
# Who follows this person?
# https://dev.twitter.com/docs/api/1.1/get/followers/list
screen_name = user['screen_name']
response  = twitter.request('followers/list', {'screen_name': screen_name, 'count':200})
followers = [follower for follower in response]
        
print 'found %d followers for %s' % (len(followers), screen_name)
# See more about paging here: https://dev.twitter.com/docs/working-with-timelines

found 200 followers for StartupNewsIND

In [292]:
print followers[0]['screen_name']

shheer0

##  Limitations:       Can only search 2 weeks in past         But can get up to 3,200 most recent tweets of a user     Rate limits! https://dev.twitter.com/docs/rate-limiting/1.1/limits         e.g., 180 requests in 15 minute window

# Get FlightDeal timeline for the deals screen-name

# This is the screen name for TheFlightDeal

In [293]:
# Get BestBuyDeals timeline = ''
screen_name = 'TheFlightDeal'
timeline = [tweet for tweet in twitter.request('statuses/user_timeline',
                                                {'screen_name': screen_name,
                                                 'count': 200})]
print 'got %d tweets for user %s' % (len(timeline), screen_name)

got 200 tweets for user TheFlightDeal

In [294]:
# Print time got created.

timeline[3]['created_at']

u'Mon Nov 20 19:01:45 +0000 2017'

In [295]:
# Print the text.
print '\n\n\n'.join(t['text'] for t in timeline)

#Airfare Deal: [WestJet] Boston - Montreal, Canada. $145 roundtrip. Details: https://t.co/LlS5odYQgM #travel


#Airfare Deal: [United] United States - Edinburgh, Scotland. $501 roundtrip. Details: https://t.co/4IFlf2PDRm For Spring 2018 #travel


#Airfare Deal: [United] Philadelphia - Austin, Texas / Kansas City, Missouri (and vice versa) $160 (Regular Economy… https://t.co/GwhFyy31J1


#Airfare Deal: [Air France / KLM Royal Dutch] Chicago / Miami - Prague, Czech Republic. $455 roundtrip. Details:… https://t.co/JtOmPvcLyg


#Airfare Deal: [Delta] United States - Brussels / Zurich / Munich / Frankfurt / Vienna / Luxembourg. Starting $411… https://t.co/FrXhXo6ume


#Airfare Deal: [American] Seattle / Portland / Atlanta / Detroit / Minneapolis / Salt Lake City - Dublin, Ireland.… https://t.co/NQ0rD1TbZG


#Airfare Deal: [Finnair] New York - Prague, Czech Republic. $403 roundtrip. Details: https://t.co/YB6O8ZrXor #travel


@dubmclean thx for letting us know. AA refiled the fare with a new fare code. the post have been updated with new s… https://t.co/nar90ElgXG


#Airfare Deal: [American] United States - Rome / Milan / Venice, Italy. Starting $430 roundtrip. Details: https://t.co/i570VsZnck #travel


#Airfare Deal: [Delta / KLM Royal Dutch] Dallas / Chicago / Miami / Philadelphia / Phoenix / Charlotte - Dublin, Ir… https://t.co/iMELm9mhja


#Airfare Deal: [KLM Royal Dutch] Chicago - Sofia, Bulgaria / Bucharest, Romania. $443 roundtrip. Details: https://t.co/x1rJKNHhcX #travel


@appelbomb glad you are liking it. we will add the incremental info when its makes sense like new low price etc.


#Airfare Deal: [American] United States - France. Starting $426 roundtrip. Details: https://t.co/MAhYBrEWcx #travel… https://t.co/ReXDz9OZh0


#Airfare Deal:[Qatar Airways] New York - Kilimanjaro, Tanzania. $687 roundtrip. Details: https://t.co/70jlnjOODO… https://t.co/JqDvMxMehO


#Airfare Deal: [American] Boston - Cancun, Mexico. $284 roundtrip. Details: https://t.co/ZWRGzHPDM4 For Winter#travel, get out of the cold.


#Airfare Deal: [American] United States - Amsterdam, Netherlands. Starting $390 roundtrip. Details:… https://t.co/v9fiAO5wzk


Price drop from yesterday - #Airfare Deal: [American] Newark - San Antonio / Memphis / Jacksonville, Florida (and v… https://t.co/HERHz7x4i8


#Airfare Deal: [Virgin Atlantic] Los Angeles - Belfast, Northern Ireland. $367 roundtrip. Details: https://t.co/sCo4RJNCK9 #travel


#Airfare Deal: [Virgin Atlantic] Philadelphia - Manchester, England. $505 roundtrip. Details: https://t.co/kBrpEm4AiB #travel


#Airfare Deal: [Delta] Seattle - London, England. $526 roundtrip. Details: https://t.co/FWzlwIAXGY #travel nonstop flight


Another price drop - #Airfare Deal: [American] San Francisco - Houston / Pittsburgh / Tampa (and vice versa) $110 r… https://t.co/HYlRsPmEeK


#Airfare Deal: [Delta] Dallas / Phoenix - London, England. $540 roundtrip. Details: https://t.co/4xzEJG2Llu #travel


#Airfare Deal: [Virgin Atlantic] Chicago - Manchester, England. $505 roundtrip. Details: https://t.co/qOSpNAjjXZ #travel


#Airfare Deal: [Delta] Miami / Dallas / Phoenix / Atlanta / Charlotte /  Cincinnati / Detroit / Las Vegas / Minneap… https://t.co/6399l2UZhA


#Airfare Deal: [Delta] New York - Inverness, Scotland. $455 roundtrip. Details: https://t.co/0G116ZCQaS For Spring… https://t.co/Tc7I0Kx41o


#Airfare Deal: [jetBlue] Boston - Houston (and vice versa) $116 roundtrip. Details: https://t.co/qPBhQNaLvP #travel


Price drop - now $110 - #Airfare Deal: [American] Washington D.C. - San Diego / Sacramento (and vice versa) $110 ro… https://t.co/qjIVloxwaS


#Airfare Deal: [United] Chicago - Frankfurt, Germany. $513 roundtrip. Details: https://t.co/i4ljKCC3GO #travel


#Airfare Deal: [Delta] Los Angeles / San Francisco - Glasgow, Scotland. $499 roundtrip. Details: https://t.co/KWsX8pfgyI #travel


#Airfare Deal: [jetBlue] Boston - Nashville, Tennessee (and vice versa) $116 roundtrip. Details: https://t.co/OP8fRpWItO #travel


#Airfare Deal: [American] Newark - San Antonio / Memphis / Jacksonville, Florida (and vice versa) $117 roundtrip. D… https://t.co/gMPmKqcS0o


#Airfare Deal: [Delta] United States - Spain. Starting $390 roundtrip. Details: https://t.co/xI1jqMGRui #travel Ava… https://t.co/f7bSbhH3Rw


#Airfare Deal: [Delta] Seattle - Leeds, England. $559 roundtrip. Details: https://t.co/mKJ5MVoOnv #travel


#Airfare Deal: [United] Philadelphia - Austin, Texas / Kansas City, Missouri (and vice versa) $170 (Regular Economy… https://t.co/oLHrPAyZLj


#Airfare Deal: [American] San Francisco - Houston / Pittsburgh (and vice versa) $120 roundtrip. Details:… https://t.co/EAyXNA6d2P


#Airfare Deal: [Delta] Dallas / Phoenix - Manchester, England. $500 roundtrip. Details: https://t.co/jhohr9c4GO #travel


#Airfare Deal: [Delta] United States - Helsinki, Finland. $447 roundtrip. Details: https://t.co/W9Z0a2mhvV #travel


#Airfare Deal: [American] Miami - London, England. $538 roundtrip. Details: https://t.co/RYXzxZtBP8 #travel nonstop flight.


#Airfare Deal: [American] Newark - Santa Ana / Sacramento (and vice versa) $120 roundtrip. Details:… https://t.co/5PGOWezHNC


#Airfare Deal: [Swiss] Boston - Zurich, Switzerland. $410 roundtrip. Details: https://t.co/Tbyyq4Oydv #travel nonstop flight


#Airfare Deal: [American] Washington D.C. - San Diego / Sacramento (and vice versa) $120 roundtrip. Details:… https://t.co/YUYxVl05Dn


Practical Travel Tips: El Nido (Palawan), Philippines. Details: https://t.co/8oqpkL7cYq #travel


#Airfare Deal: [American] Portland - Shanghai, China. $424 roundtrip. Details: https://t.co/HAHV3lnLK7 #travel


#Airfare Deal: [WestJet] Phoenix - Victoria, British Columbia, Canada. $201 roundtrip. Details: https://t.co/bpxG27moxQ #travel


#Airfare Deal: [American] San Francisco - Tampa (and vice versa) $117 roundtrip. Details: https://t.co/hUjPdbArzc… https://t.co/mXBdea1uHP


#Airfare Deal: [American]  Baltimore - Cabo San Lucas, Mexico. $275 roundtrip. Details: https://t.co/zw3hhExU5V… https://t.co/xIK2wxoMoQ


#Airfare Deal: [American] San Francisco - Houston / Pittsburgh (and vice versa) $140 roundtrip. Details:… https://t.co/msNFg7esuT


#Airfare Deal: [American] Seattle - Shanghai, China. $444 roundtrip. Details: https://t.co/QdausbBVac #travel


#Airfare Deal: [WestJet] New York - Toronto, Canada. $147 roundtrip. Details: https://t.co/uUs3H0pcHo #travel


#Airfare Deal: [United] Los Angeles - Philadelphia (and vice versa) $156 (Regular Economy) / $117 (Basic Economy) r… https://t.co/lPzA7pGImW


#Airfare Deal: [United] Dallas - Victoria, British Columbia, Canada. $269 roundtrip. Details: https://t.co/L4WT0tzkEd #travel


#Airfare Deal: [American] Chicago - Budapest, Hungary. $453 roundtrip. Details: https://t.co/MrzUInp9d1 #travel


#Airfare Deal: [jetBlue] Fort Lauderdale - Los Angeles (and vice versa) $198 roundtrip. Details: https://t.co/7oECj8wsua #travel


#Airfare Deal: [Finnair] New York - Budapest, Hungary. $459 roundtrip. Details: https://t.co/QfJOyEzp7c #travel


#Airfare Deal: [United] Boston - Bangkok, Thailand. $645 roundtrip. Details: https://t.co/ij5AwhHoPl #travel


#Airfare Deal: [United] Washington D.C. / Baltimore - Hamburg, Germany. $398 roundtrip. Details: https://t.co/L0yQuftwTc #travel


@scr00k in krabi and yes, we used a deal to Asia with a mix of points and some cash for local flt.


@Chiqee not in Phuket. next door though at Krabi


Call for Submissions: Practical Travel Tips - Details: https://t.co/wJQvMGoP1D … #travel ..


the entire team is on our annual trip, so responses have and will be a bit slow.... https://t.co/BoDW5lxdV0


#Airfare Deal: [Swiss] Chicago - Hamburg, Germany. $413 roundtrip. Details: https://t.co/WMrdJGHOYo For Spring 2018 #travel.


#Airfare Deal: [United] Portland - Puerto Vallarta, Mexico. $251 roundtrip. Details: https://t.co/WK2mexUExN #travel


#Airfare Deal: [AA] Los Angeles - Philadelphia (and vice versa) $207 (Regular Economy) / $168 (Basic Economy) round… https://t.co/o4enH7fNmH


#Airfare Deal: [United] Phoenix - Mexico City, Mexico. $249 roundtrip. Details: https://t.co/U7Lsb2VcBn #travel


#Airfare Deal: [jetBlue / Alaska Air] New York / Newark - San Diego (and vice versa) $256 roundtrip. Details:… https://t.co/w90gvyGHgd


#Airfare Deal: [Alaska Air] San Francisco / San Jose, California - Seattle (and vice versa) $116 roundtrip. Details… https://t.co/U372B7OpHh


@pizzainmotion 8 is a lucky #. 88 didnt work. lol.


#Airfare Deal: [United] Baltimore - Houston (and vice versa) $130 (Regular Economy) / $80 (Basic Economy) roundtrip… https://t.co/4XkQYdSP7q


#Airfare Deal: [American] Philadelphia - Lima, Peru. $455 r/t. Details: https://t.co/tf2ZfAimsv #travel


#Airfare Deal: [American] Los Angeles / San Francisco - Panama City, Panama. $376 roundtrip. Details: https://t.co/hwmJedBtmw #travel


@CS_Darrow @AmericanAir nice, have a great time.


#Airfare Deal: [Qatar Airways] Dallas - Mumbai, India. $743 roundtrip. Details: https://t.co/M7721sdvL1 #travel


#Airfare Deal: [United] Chicago - San Diego (and vice versa) $138 (Regular Economy) / $98 (Basic Economy) roundtrip… https://t.co/eNXV8rBIkg


@pizzainmotion bestest pastel de natas.. love them. my aunt bought 78 last week at one go and they were like, 78? lol. pretty funny sight.


Summer #Airfare Deal: [American] Miami - Lisbon, Portugal. $476 roundtrip. Details: https://t.co/iRmALGK4wl Include… https://t.co/ZxFo4CLz2w


#Airfare Deal: [jetBlue] Newark - Orlando (and vice versa) $98 roundtrip. Details: https://t.co/BOpJHWSC8o #travel


#Airfare Deal: [jetBlue] Boston - Seattle (and vice versa) $226 roundtrip. Details: https://t.co/Jija84nlt9 #travel


#Airfare Deal: [American] Washington D.C. - San Diego (and vice versa) $167 (Regular Economy) / $117 (Basic Economy… https://t.co/Kw2vAsBOcp


#Airfare Deal: [Alaska Air] San Jose, California - Austin, Texas (and vice versa) $196 roundtrip. Details:… https://t.co/p7KLriQ5hX


#Airfare Deal: [Delta] Portland - Guadalajara, Mexico. $303 roundtrip. Details: https://t.co/elfwgFvsE1 #travel


#Airfare Deal: [American / United] Newark - Phoenix (and vice versa) $236 roundtrip. Details:… https://t.co/I5MarmZ2dT


#Airfare Deal: [Alaska Air] New York - Seattle (and vice versa) $196 roundtrip. Details: https://t.co/tpkuHqcb8m #travel


#Airfare Deal: [United] Los Angeles - Atlanta (and vice versa) $178 (Regular Economy) / $138 (Basic Economy) roundt… https://t.co/8E09pnbKiL


#Airfare Deal: [AA] Dallas - Minneapolis (and vice versa) $120 (Regular Economy) / $80 (Basic Economy) roundtrip. D… https://t.co/tuGbTd7IdH


#Airfare Deal: [LA] Seattle - Lima, Peru. Details: https://t.co/780ztfghdS #travel


#Airfare Deal: [American] San Francisco / Los Angeles - Panama City, Panama. $396 roundtrip. Details: https://t.co/FFAzXI9aEE #travel


#Airfare Deal: [Qatar Airways] Chicago - Bangkok, Thailand. $625 roundtrip. Details: https://t.co/BRuF3h6CX7 #travel


#Airfare Deal: [American] Miami - Cancun, Mexico. $175 roundtrip. Details: https://t.co/DInGL08bY7 #travel


#Airfare Deal: [United] Newark - Hong Kong. $580 r/t. Details: https://t.co/UKW78rmW5S #travel Nonstop flight.


#Airfare Deal: [American] Boston - Kauai, Hawaii (and vice versa) $544 roundtrip. Details: https://t.co/usCw20nkte #travel


#Airfare Deal: [Qatar Airways] Washington D.C. - Bangkok, Thailand. $720 roundtrip. Details: https://t.co/0lLfBb9sWe #travel


Expires today - jetBlue: Up to 20% off Flights. Details: https://t.co/oxEVxYFP4k  #travel


#Airfare Deal: [AA] New York / Dallas / San Francisco - Sydney, Australia. $770 r/t. Details: https://t.co/XRCH4t3l2v   #travel


Price drop - now $770 #Airfare Deal: [AA] New York / Dallas / San Francisco - Sydney, Australia. $770 r/t. Details:… https://t.co/dpgBdjsTpK


#Airfare Deal: [United] San Francisco - Charlotte, North Carolina (and vice versa) $233 roundtrip. Details:… https://t.co/6jqgco88BI


#Airfare Deal: [Air Canada] Philadelphia - Victoria, British Columbia, Canada. $274 roundtrip. Details: https://t.co/MGFp2mcLeD #travel


#Airfare Deal: [OZ] Seattle - Manila, Philippines. $564 r/t. Details: https://t.co/3kzIi5nElD #travel


#Airfare Deal: [American / Hawaiian / United / Virgin America] Los Angeles - Maui / Honolulu, Hawaii (and vice vers… https://t.co/nYfklsIA8q


#Airfare Deal: [Qatar Airways] Chicago - New Delhi, India. $597 roundtrip. Details: https://t.co/ofBmOjvZbX #travel


#Airfare Deal: [QR] Miami - Bangkok, Thailand. $770 r/t. Details: https://t.co/sI9vScAtS9 #travel


#Airfare Deal: [AA] New York / Dallas / San Francisco - Sydney, Australia. $820 r/t. Details: https://t.co/XRCH4t3l2v #travel


#Airfare Deal: [AA] Boston - Lima, Peru. $389 r/t. Details: https://t.co/XV1qoQ6fy0  #travel


#Airfare Deal: [American] Washington D.C. - San Diego (and vice versa) $208 (Regular Economy) / $158 (Basic Economy… https://t.co/Lz5f80dV5k


jetBlue: Up to 20% off Flights. Details: https://t.co/oxEVxYFP4k #travel


#Airfare Deal: [American] Baltimore / Boston / New York - Maui / Honolulu, Hawaii (and vice versa) $540++ roundtrip… https://t.co/BivbF3Qr9F


#Airfare Deal: [American] Baltimore / Boston / New York - Maui / Honolulu, Hawaii (and vice versa) $540++ roundtrip… https://t.co/270R2k40zC


#Airfare Deal: [Air Canada] Los Angeles - Vancouver, Canada. $144 roundtrip. Details: https://t.co/m5Ky2SIMoh #travel


#Airfare Deal: [United] Phoenix - Ottawa, Canada. $230 r/t. Details: https://t.co/7ZkwVAFsPI #travel


#Airfare Deal: [United] San Francisco - Sydney, Australia. $886 roundtrip. Details: https://t.co/4oxO3o4RjS #travel nonstop flight


#Airfare Deal: [United] Portland - Cabo San Lucas, Mexico. $268 roundtrip. Details: https://t.co/8bE9ASohtb #travel


#Airfare Deal: [Delta] New York - Amsterdam, Netherlands. $405 roundtrip. Details: https://t.co/YbYpJX7D6R #travel nonstop flight


#Airfare Deal: [American] San Francisco - Rio de Janeiro, Brazil. $792 roundtrip. Details: https://t.co/KLj4qeRliA #travel


#Airfare Deal: [Virgin Atlantic] Seattle - Johannesburg, South Africa. $848 roundtrip. Details: https://t.co/0yyVVo4wUF #travel


@brainjacker nice. have a great trip.


#Airfare Deal: [American] Philadelphia - Las Vegas (and vice versa) $186 (Regular Economy) / $146 (Basic Economy) r… https://t.co/E3XZpgQlxD


#Airfare Deal: [Virgin America] Los Angeles - Chicago (and vice versa) $176 roundtrip. Details:… https://t.co/v4gFGKXiHG


#Airfare Deal: [Qatar Airways] Dallas - Bangkok, Thailand. $790 roundtrip. Details: https://t.co/mJl1M9xe92 #travel


#Airfare Deal: [United] Chicago - Geneva, Switzerland. $340 roundtrip. Details: https://t.co/hzOWa4U1h1 #travel Spring 2018 availability.


#Airfare Deal: [jetBlue] Fort Lauderdale - New Orleans (and vice versa) $66 roundtrip. Details: https://t.co/oevjVGOhBr #travel


#Airfare Deal: [Brussels Airlines] New York - Brussels, Belgium. $387 roundtrip. Details: https://t.co/BAoEzBLtWo… https://t.co/x5IPwO4ITv


#Airfare Deal: [American] Boston - Cancun, Mexico. $302 roundtrip. Details: https://t.co/oCMV38MZim #travel  Winter 2018 availability.


#Airfare Deal: [United] Washington D.C. - Paris, France. $404 roundtrip. Details: https://t.co/SmV0iMAm7M #travel F… https://t.co/iM6fZPKn6D


@iflyplaces @AirlineFlyer @rapidtravelchai @PATHAlerts 7 minutes. lol.


@rapidtravelchai @iflyplaces @AirlineFlyer @PATHAlerts just came back from over-eating in portugal last week. lol.


@rapidtravelchai @iflyplaces @AirlineFlyer @PATHAlerts transit adventures tonight took 1hr40mins, not bad with wknd… https://t.co/Fu8QSUvVmp


@JetSetCD nope, didnt post it cause it wasnt ex-US. enjoy the maldives.


@JetSetCD our holidays dont sound nearly as exciting as yours..


@peteho hahaha. yeah, that last request isnt going to happen.


@peteho we like them too, but since most of our readers are infrequent flyers, most didn't know what they were.


@pizzainmotion but if reese is still the GM, he probably screw it up.


#Airfare Deal: [United] Portland - Toronto, Canada. $306 r/t. Details: https://t.co/wxsr89uNeo #travel


#Airfare Deal: [Air Canada] Los Angeles - Toronto, Canada. $257 roundtrip. Details: https://t.co/vso81uhm25 #travel… https://t.co/QZPQZbur63


@JetSetCD how long you in BKK? going to be there tuesday AM.


#Airfare Deal: [UA] Phoenix - Manila, Philippines. $478 r/t. Details: https://t.co/YRA7120gkV #travel


#Airfare Deal: [UA] Newark - Calgary, Canada. $222 r/t. Details: https://t.co/gFAg96sByp #travel


@jonk that seems the easiest, but knowing google, the algo is probably way more complex. lol.


@jonk just a guess: location tracking. duration at location.


#Airfare Deal: [UA] San Francisco - Montreal, Canada. $326 r/t. Details: https://t.co/igZPpwPPln #travel


#Airfare Deal: [HA] Seattle - Auckland, New Zealand. $782 r/t. Details: https://t.co/kSvfiEhWJc #travel


#Airfare Deal: [UA] Philadelphia - Denver (and vice versa) $134 (Regular Economy) / $94 (Basic Economy) r/t. Detail… https://t.co/3E9yKsfLqL


#Airfare Deal: [UA] Los Angeles - Cancun, Mexico. $241 r/t. Details: https://t.co/DYizZ1P57X #travel


#Airfare Deal: [QR] Dallas - Ahmedabad, India. $593 r/t. Details: https://t.co/IqkHNrW5j7 #travel


#Airfare Deal: [UA] Chicago - Munich, Germany. $459 r/t. Details: https://t.co/HWH70Jhidh #travel


#Airfare Deal: [B6] Boston - San Jose, California (and vice versa) $196 r/t. Details: https://t.co/lPXVXhAKEy… https://t.co/st7V9JW58H


@OWNG crap, it should say $196.


#Airfare Deal: [UA] Miami - Denver (and vice versa) $142 (Regular Economy) / $78 (Basic Economy) r/t. Details:… https://t.co/mt6eO3OClh


@iflyplaces @AirlineFlyer @rapidtravelchai thx


@AirlineFlyer @rapidtravelchai whats the best PATH -&gt; BUS -&gt; EWR route?


#Airfare Deal: [AC] New York - Vancouver, Canada. $233 r/t. Details: https://t.co/0mU7cC87um #travel


#Airfare Deal: [QR] Washington D.C. - Bali, Indonesia. $653 r/t. Details: https://t.co/WgbYtngkOj #travel w/ Good Winter availability.


@Chiqee LHR = the suck.


@foofiter miss you in Thailand by a few days.


@jonk the Asian greens looks great, guess the sous vide lamb is okay too.


@foofiter looks like your cx a350 segment is hkg - bkk, equipment swap is high. ours just changed for Tuesday.


#Airfare Deal: [HA] Portland / Phoenix - Auckland, New Zealand. $782 r/t. Details: https://t.co/r4tbyUn2gU #travel


#Airfare Deal: [AM] New York - Guadalajara, Mexico. $271 r/t. Details: https://t.co/BAR2YcS5wU #travel


#Airfare Deal: [UA] Los Angeles - Port of Spain, Trinidad and Tobago. $405 r/t. Details: https://t.co/dfPae85aIv #travel


#Airfare Deal: [DL/AA/UA] Seattle - Guadalajara, Mexico. $330 r/t. Details: https://t.co/Dno0Xrql3s #travel


#Airfare Deal: [AA] Philadelphia - Fort Myers, Florida (and vice versa) $114 (Regular Economy) / $74 (Basic Economy… https://t.co/soAB5lK84p


#Airfare Deal: [HA] San Francisco / San Jose / Oakland / Sacramento - Auckland, New Zealand. $708 r/t. Details:… https://t.co/VUh26Y1UGr


#Airfare Deal: [QR] Dallas - Bali, Indonesia. $732 r/t. Details: https://t.co/VkVpINb0a9 #travel


#Airfare Deal: [AA] Chicago - West Palm Beach, Florida (and vice versa) $134 (Regular Economy Fare) / $94 (Basic Ec… https://t.co/0gd5EOD3jh


#Airfare Deal: [LX] Miami - Mumbai, India. $662 r/t. Details: https://t.co/OeUt4jVjFR #travel


#Airfare Deal: [UA] Newark - Mexico City, Mexico. $247 r/t. Details: https://t.co/aJpIREx3zY #travel nonstop flight.


#Airfare Deal: [B6] Boston - San Diego (and vice versa) $256 r/t. Details: https://t.co/1BCbjtUIQJ #travel


#Airfare Deal: [UA] Baltimore - Puerto Vallarta, Mexico. $265 r/t. Details: https://t.co/ySaQQiHfub #travel Includes Winter availability.


#Airfare Deal: [B6] New York - Palm Springs, California (and vice versa) $186 r/t. Info: https://t.co/EEgQuzapZ2  For Winter #travel


@ukudigada @AzieDee Black Friday airfare sales in general are lackluster. the best deals can show up at any time, n… https://t.co/4Uo6eBY4aI



In [296]:
# Count words
from collections import Counter  # This is just a fancy dict mapping from object->int, starting at 0.
counts = Counter()
for tweet in timeline:
    counts.update(tweet['text'].lower().split())
print('found %d unique terms in %d tweets' % (len(counts), len(timeline)))
counts.most_common(10)

found 910 unique terms in 200 tweets

[(u'-', 173),
 (u'#airfare', 163),
 (u'deal:', 162),
 (u'details:', 124),
 (u'#travel', 117),
 (u'/', 88),
 (u'roundtrip.', 80),
 (u'r/t.', 60),
 (u'(and', 56),
 (u'vice', 56)]

In [297]:
import re
for tweet in timeline:
    deal = tweet['text']
    print deal + '\n'

#Airfare Deal: [WestJet] Boston - Montreal, Canada. $145 roundtrip. Details: https://t.co/LlS5odYQgM #travel

#Airfare Deal: [United] United States - Edinburgh, Scotland. $501 roundtrip. Details: https://t.co/4IFlf2PDRm For Spring 2018 #travel

#Airfare Deal: [United] Philadelphia - Austin, Texas / Kansas City, Missouri (and vice versa) $160 (Regular Economy… https://t.co/GwhFyy31J1

#Airfare Deal: [Air France / KLM Royal Dutch] Chicago / Miami - Prague, Czech Republic. $455 roundtrip. Details:… https://t.co/JtOmPvcLyg

#Airfare Deal: [Delta] United States - Brussels / Zurich / Munich / Frankfurt / Vienna / Luxembourg. Starting $411… https://t.co/FrXhXo6ume

#Airfare Deal: [American] Seattle / Portland / Atlanta / Detroit / Minneapolis / Salt Lake City - Dublin, Ireland.… https://t.co/NQ0rD1TbZG

#Airfare Deal: [Finnair] New York - Prague, Czech Republic. $403 roundtrip. Details: https://t.co/YB6O8ZrXor #travel

@dubmclean thx for letting us know. AA refiled the fare with a new fare code. the post have been updated with new s… https://t.co/nar90ElgXG

#Airfare Deal: [American] United States - Rome / Milan / Venice, Italy. Starting $430 roundtrip. Details: https://t.co/i570VsZnck #travel

#Airfare Deal: [Delta / KLM Royal Dutch] Dallas / Chicago / Miami / Philadelphia / Phoenix / Charlotte - Dublin, Ir… https://t.co/iMELm9mhja

#Airfare Deal: [KLM Royal Dutch] Chicago - Sofia, Bulgaria / Bucharest, Romania. $443 roundtrip. Details: https://t.co/x1rJKNHhcX #travel

@appelbomb glad you are liking it. we will add the incremental info when its makes sense like new low price etc.

#Airfare Deal: [American] United States - France. Starting $426 roundtrip. Details: https://t.co/MAhYBrEWcx #travel… https://t.co/ReXDz9OZh0

#Airfare Deal:[Qatar Airways] New York - Kilimanjaro, Tanzania. $687 roundtrip. Details: https://t.co/70jlnjOODO… https://t.co/JqDvMxMehO

#Airfare Deal: [American] Boston - Cancun, Mexico. $284 roundtrip. Details: https://t.co/ZWRGzHPDM4 For Winter#travel, get out of the cold.

#Airfare Deal: [American] United States - Amsterdam, Netherlands. Starting $390 roundtrip. Details:… https://t.co/v9fiAO5wzk

Price drop from yesterday - #Airfare Deal: [American] Newark - San Antonio / Memphis / Jacksonville, Florida (and v… https://t.co/HERHz7x4i8

#Airfare Deal: [Virgin Atlantic] Los Angeles - Belfast, Northern Ireland. $367 roundtrip. Details: https://t.co/sCo4RJNCK9 #travel

#Airfare Deal: [Virgin Atlantic] Philadelphia - Manchester, England. $505 roundtrip. Details: https://t.co/kBrpEm4AiB #travel

#Airfare Deal: [Delta] Seattle - London, England. $526 roundtrip. Details: https://t.co/FWzlwIAXGY #travel nonstop flight

Another price drop - #Airfare Deal: [American] San Francisco - Houston / Pittsburgh / Tampa (and vice versa) $110 r… https://t.co/HYlRsPmEeK

#Airfare Deal: [Delta] Dallas / Phoenix - London, England. $540 roundtrip. Details: https://t.co/4xzEJG2Llu #travel

#Airfare Deal: [Virgin Atlantic] Chicago - Manchester, England. $505 roundtrip. Details: https://t.co/qOSpNAjjXZ #travel

#Airfare Deal: [Delta] Miami / Dallas / Phoenix / Atlanta / Charlotte /  Cincinnati / Detroit / Las Vegas / Minneap… https://t.co/6399l2UZhA

#Airfare Deal: [Delta] New York - Inverness, Scotland. $455 roundtrip. Details: https://t.co/0G116ZCQaS For Spring… https://t.co/Tc7I0Kx41o

#Airfare Deal: [jetBlue] Boston - Houston (and vice versa) $116 roundtrip. Details: https://t.co/qPBhQNaLvP #travel

Price drop - now $110 - #Airfare Deal: [American] Washington D.C. - San Diego / Sacramento (and vice versa) $110 ro… https://t.co/qjIVloxwaS

#Airfare Deal: [United] Chicago - Frankfurt, Germany. $513 roundtrip. Details: https://t.co/i4ljKCC3GO #travel

#Airfare Deal: [Delta] Los Angeles / San Francisco - Glasgow, Scotland. $499 roundtrip. Details: https://t.co/KWsX8pfgyI #travel

#Airfare Deal: [jetBlue] Boston - Nashville, Tennessee (and vice versa) $116 roundtrip. Details: https://t.co/OP8fRpWItO #travel

#Airfare Deal: [American] Newark - San Antonio / Memphis / Jacksonville, Florida (and vice versa) $117 roundtrip. D… https://t.co/gMPmKqcS0o

#Airfare Deal: [Delta] United States - Spain. Starting $390 roundtrip. Details: https://t.co/xI1jqMGRui #travel Ava… https://t.co/f7bSbhH3Rw

#Airfare Deal: [Delta] Seattle - Leeds, England. $559 roundtrip. Details: https://t.co/mKJ5MVoOnv #travel

#Airfare Deal: [United] Philadelphia - Austin, Texas / Kansas City, Missouri (and vice versa) $170 (Regular Economy… https://t.co/oLHrPAyZLj

#Airfare Deal: [American] San Francisco - Houston / Pittsburgh (and vice versa) $120 roundtrip. Details:… https://t.co/EAyXNA6d2P

#Airfare Deal: [Delta] Dallas / Phoenix - Manchester, England. $500 roundtrip. Details: https://t.co/jhohr9c4GO #travel

#Airfare Deal: [Delta] United States - Helsinki, Finland. $447 roundtrip. Details: https://t.co/W9Z0a2mhvV #travel

#Airfare Deal: [American] Miami - London, England. $538 roundtrip. Details: https://t.co/RYXzxZtBP8 #travel nonstop flight.

#Airfare Deal: [American] Newark - Santa Ana / Sacramento (and vice versa) $120 roundtrip. Details:… https://t.co/5PGOWezHNC

#Airfare Deal: [Swiss] Boston - Zurich, Switzerland. $410 roundtrip. Details: https://t.co/Tbyyq4Oydv #travel nonstop flight

#Airfare Deal: [American] Washington D.C. - San Diego / Sacramento (and vice versa) $120 roundtrip. Details:… https://t.co/YUYxVl05Dn

Practical Travel Tips: El Nido (Palawan), Philippines. Details: https://t.co/8oqpkL7cYq #travel

#Airfare Deal: [American] Portland - Shanghai, China. $424 roundtrip. Details: https://t.co/HAHV3lnLK7 #travel

#Airfare Deal: [WestJet] Phoenix - Victoria, British Columbia, Canada. $201 roundtrip. Details: https://t.co/bpxG27moxQ #travel

#Airfare Deal: [American] San Francisco - Tampa (and vice versa) $117 roundtrip. Details: https://t.co/hUjPdbArzc… https://t.co/mXBdea1uHP

#Airfare Deal: [American]  Baltimore - Cabo San Lucas, Mexico. $275 roundtrip. Details: https://t.co/zw3hhExU5V… https://t.co/xIK2wxoMoQ

#Airfare Deal: [American] San Francisco - Houston / Pittsburgh (and vice versa) $140 roundtrip. Details:… https://t.co/msNFg7esuT

#Airfare Deal: [American] Seattle - Shanghai, China. $444 roundtrip. Details: https://t.co/QdausbBVac #travel

#Airfare Deal: [WestJet] New York - Toronto, Canada. $147 roundtrip. Details: https://t.co/uUs3H0pcHo #travel

#Airfare Deal: [United] Los Angeles - Philadelphia (and vice versa) $156 (Regular Economy) / $117 (Basic Economy) r… https://t.co/lPzA7pGImW

#Airfare Deal: [United] Dallas - Victoria, British Columbia, Canada. $269 roundtrip. Details: https://t.co/L4WT0tzkEd #travel

#Airfare Deal: [American] Chicago - Budapest, Hungary. $453 roundtrip. Details: https://t.co/MrzUInp9d1 #travel

#Airfare Deal: [jetBlue] Fort Lauderdale - Los Angeles (and vice versa) $198 roundtrip. Details: https://t.co/7oECj8wsua #travel

#Airfare Deal: [Finnair] New York - Budapest, Hungary. $459 roundtrip. Details: https://t.co/QfJOyEzp7c #travel

#Airfare Deal: [United] Boston - Bangkok, Thailand. $645 roundtrip. Details: https://t.co/ij5AwhHoPl #travel

#Airfare Deal: [United] Washington D.C. / Baltimore - Hamburg, Germany. $398 roundtrip. Details: https://t.co/L0yQuftwTc #travel

@scr00k in krabi and yes, we used a deal to Asia with a mix of points and some cash for local flt.

@Chiqee not in Phuket. next door though at Krabi

Call for Submissions: Practical Travel Tips - Details: https://t.co/wJQvMGoP1D … #travel ..

the entire team is on our annual trip, so responses have and will be a bit slow.... https://t.co/BoDW5lxdV0

#Airfare Deal: [Swiss] Chicago - Hamburg, Germany. $413 roundtrip. Details: https://t.co/WMrdJGHOYo For Spring 2018 #travel.

#Airfare Deal: [United] Portland - Puerto Vallarta, Mexico. $251 roundtrip. Details: https://t.co/WK2mexUExN #travel

#Airfare Deal: [AA] Los Angeles - Philadelphia (and vice versa) $207 (Regular Economy) / $168 (Basic Economy) round… https://t.co/o4enH7fNmH

#Airfare Deal: [United] Phoenix - Mexico City, Mexico. $249 roundtrip. Details: https://t.co/U7Lsb2VcBn #travel

#Airfare Deal: [jetBlue / Alaska Air] New York / Newark - San Diego (and vice versa) $256 roundtrip. Details:… https://t.co/w90gvyGHgd

#Airfare Deal: [Alaska Air] San Francisco / San Jose, California - Seattle (and vice versa) $116 roundtrip. Details… https://t.co/U372B7OpHh

@pizzainmotion 8 is a lucky #. 88 didnt work. lol.

#Airfare Deal: [United] Baltimore - Houston (and vice versa) $130 (Regular Economy) / $80 (Basic Economy) roundtrip… https://t.co/4XkQYdSP7q

#Airfare Deal: [American] Philadelphia - Lima, Peru. $455 r/t. Details: https://t.co/tf2ZfAimsv #travel

#Airfare Deal: [American] Los Angeles / San Francisco - Panama City, Panama. $376 roundtrip. Details: https://t.co/hwmJedBtmw #travel

@CS_Darrow @AmericanAir nice, have a great time.

#Airfare Deal: [Qatar Airways] Dallas - Mumbai, India. $743 roundtrip. Details: https://t.co/M7721sdvL1 #travel

#Airfare Deal: [United] Chicago - San Diego (and vice versa) $138 (Regular Economy) / $98 (Basic Economy) roundtrip… https://t.co/eNXV8rBIkg

@pizzainmotion bestest pastel de natas.. love them. my aunt bought 78 last week at one go and they were like, 78? lol. pretty funny sight.

Summer #Airfare Deal: [American] Miami - Lisbon, Portugal. $476 roundtrip. Details: https://t.co/iRmALGK4wl Include… https://t.co/ZxFo4CLz2w

#Airfare Deal: [jetBlue] Newark - Orlando (and vice versa) $98 roundtrip. Details: https://t.co/BOpJHWSC8o #travel

#Airfare Deal: [jetBlue] Boston - Seattle (and vice versa) $226 roundtrip. Details: https://t.co/Jija84nlt9 #travel

#Airfare Deal: [American] Washington D.C. - San Diego (and vice versa) $167 (Regular Economy) / $117 (Basic Economy… https://t.co/Kw2vAsBOcp

#Airfare Deal: [Alaska Air] San Jose, California - Austin, Texas (and vice versa) $196 roundtrip. Details:… https://t.co/p7KLriQ5hX

#Airfare Deal: [Delta] Portland - Guadalajara, Mexico. $303 roundtrip. Details: https://t.co/elfwgFvsE1 #travel

#Airfare Deal: [American / United] Newark - Phoenix (and vice versa) $236 roundtrip. Details:… https://t.co/I5MarmZ2dT

#Airfare Deal: [Alaska Air] New York - Seattle (and vice versa) $196 roundtrip. Details: https://t.co/tpkuHqcb8m #travel

#Airfare Deal: [United] Los Angeles - Atlanta (and vice versa) $178 (Regular Economy) / $138 (Basic Economy) roundt… https://t.co/8E09pnbKiL

#Airfare Deal: [AA] Dallas - Minneapolis (and vice versa) $120 (Regular Economy) / $80 (Basic Economy) roundtrip. D… https://t.co/tuGbTd7IdH

#Airfare Deal: [LA] Seattle - Lima, Peru. Details: https://t.co/780ztfghdS #travel

#Airfare Deal: [American] San Francisco / Los Angeles - Panama City, Panama. $396 roundtrip. Details: https://t.co/FFAzXI9aEE #travel

#Airfare Deal: [Qatar Airways] Chicago - Bangkok, Thailand. $625 roundtrip. Details: https://t.co/BRuF3h6CX7 #travel

#Airfare Deal: [American] Miami - Cancun, Mexico. $175 roundtrip. Details: https://t.co/DInGL08bY7 #travel

#Airfare Deal: [United] Newark - Hong Kong. $580 r/t. Details: https://t.co/UKW78rmW5S #travel Nonstop flight.

#Airfare Deal: [American] Boston - Kauai, Hawaii (and vice versa) $544 roundtrip. Details: https://t.co/usCw20nkte #travel

#Airfare Deal: [Qatar Airways] Washington D.C. - Bangkok, Thailand. $720 roundtrip. Details: https://t.co/0lLfBb9sWe #travel

Expires today - jetBlue: Up to 20% off Flights. Details: https://t.co/oxEVxYFP4k  #travel

#Airfare Deal: [AA] New York / Dallas / San Francisco - Sydney, Australia. $770 r/t. Details: https://t.co/XRCH4t3l2v   #travel

Price drop - now $770 #Airfare Deal: [AA] New York / Dallas / San Francisco - Sydney, Australia. $770 r/t. Details:… https://t.co/dpgBdjsTpK

#Airfare Deal: [United] San Francisco - Charlotte, North Carolina (and vice versa) $233 roundtrip. Details:… https://t.co/6jqgco88BI

#Airfare Deal: [Air Canada] Philadelphia - Victoria, British Columbia, Canada. $274 roundtrip. Details: https://t.co/MGFp2mcLeD #travel

#Airfare Deal: [OZ] Seattle - Manila, Philippines. $564 r/t. Details: https://t.co/3kzIi5nElD #travel

#Airfare Deal: [American / Hawaiian / United / Virgin America] Los Angeles - Maui / Honolulu, Hawaii (and vice vers… https://t.co/nYfklsIA8q

#Airfare Deal: [Qatar Airways] Chicago - New Delhi, India. $597 roundtrip. Details: https://t.co/ofBmOjvZbX #travel

#Airfare Deal: [QR] Miami - Bangkok, Thailand. $770 r/t. Details: https://t.co/sI9vScAtS9 #travel

#Airfare Deal: [AA] New York / Dallas / San Francisco - Sydney, Australia. $820 r/t. Details: https://t.co/XRCH4t3l2v #travel

#Airfare Deal: [AA] Boston - Lima, Peru. $389 r/t. Details: https://t.co/XV1qoQ6fy0  #travel

#Airfare Deal: [American] Washington D.C. - San Diego (and vice versa) $208 (Regular Economy) / $158 (Basic Economy… https://t.co/Lz5f80dV5k

jetBlue: Up to 20% off Flights. Details: https://t.co/oxEVxYFP4k #travel

#Airfare Deal: [American] Baltimore / Boston / New York - Maui / Honolulu, Hawaii (and vice versa) $540++ roundtrip… https://t.co/BivbF3Qr9F

#Airfare Deal: [American] Baltimore / Boston / New York - Maui / Honolulu, Hawaii (and vice versa) $540++ roundtrip… https://t.co/270R2k40zC

#Airfare Deal: [Air Canada] Los Angeles - Vancouver, Canada. $144 roundtrip. Details: https://t.co/m5Ky2SIMoh #travel

#Airfare Deal: [United] Phoenix - Ottawa, Canada. $230 r/t. Details: https://t.co/7ZkwVAFsPI #travel

#Airfare Deal: [United] San Francisco - Sydney, Australia. $886 roundtrip. Details: https://t.co/4oxO3o4RjS #travel nonstop flight

#Airfare Deal: [United] Portland - Cabo San Lucas, Mexico. $268 roundtrip. Details: https://t.co/8bE9ASohtb #travel

#Airfare Deal: [Delta] New York - Amsterdam, Netherlands. $405 roundtrip. Details: https://t.co/YbYpJX7D6R #travel nonstop flight

#Airfare Deal: [American] San Francisco - Rio de Janeiro, Brazil. $792 roundtrip. Details: https://t.co/KLj4qeRliA #travel

#Airfare Deal: [Virgin Atlantic] Seattle - Johannesburg, South Africa. $848 roundtrip. Details: https://t.co/0yyVVo4wUF #travel

@brainjacker nice. have a great trip.

#Airfare Deal: [American] Philadelphia - Las Vegas (and vice versa) $186 (Regular Economy) / $146 (Basic Economy) r… https://t.co/E3XZpgQlxD

#Airfare Deal: [Virgin America] Los Angeles - Chicago (and vice versa) $176 roundtrip. Details:… https://t.co/v4gFGKXiHG

#Airfare Deal: [Qatar Airways] Dallas - Bangkok, Thailand. $790 roundtrip. Details: https://t.co/mJl1M9xe92 #travel

#Airfare Deal: [United] Chicago - Geneva, Switzerland. $340 roundtrip. Details: https://t.co/hzOWa4U1h1 #travel Spring 2018 availability.

#Airfare Deal: [jetBlue] Fort Lauderdale - New Orleans (and vice versa) $66 roundtrip. Details: https://t.co/oevjVGOhBr #travel

#Airfare Deal: [Brussels Airlines] New York - Brussels, Belgium. $387 roundtrip. Details: https://t.co/BAoEzBLtWo… https://t.co/x5IPwO4ITv

#Airfare Deal: [American] Boston - Cancun, Mexico. $302 roundtrip. Details: https://t.co/oCMV38MZim #travel  Winter 2018 availability.

#Airfare Deal: [United] Washington D.C. - Paris, France. $404 roundtrip. Details: https://t.co/SmV0iMAm7M #travel F… https://t.co/iM6fZPKn6D

@iflyplaces @AirlineFlyer @rapidtravelchai @PATHAlerts 7 minutes. lol.

@rapidtravelchai @iflyplaces @AirlineFlyer @PATHAlerts just came back from over-eating in portugal last week. lol.

@rapidtravelchai @iflyplaces @AirlineFlyer @PATHAlerts transit adventures tonight took 1hr40mins, not bad with wknd… https://t.co/Fu8QSUvVmp

@JetSetCD nope, didnt post it cause it wasnt ex-US. enjoy the maldives.

@JetSetCD our holidays dont sound nearly as exciting as yours..

@peteho hahaha. yeah, that last request isnt going to happen.

@peteho we like them too, but since most of our readers are infrequent flyers, most didn't know what they were.

@pizzainmotion but if reese is still the GM, he probably screw it up.

#Airfare Deal: [United] Portland - Toronto, Canada. $306 r/t. Details: https://t.co/wxsr89uNeo #travel

#Airfare Deal: [Air Canada] Los Angeles - Toronto, Canada. $257 roundtrip. Details: https://t.co/vso81uhm25 #travel… https://t.co/QZPQZbur63

@JetSetCD how long you in BKK? going to be there tuesday AM.

#Airfare Deal: [UA] Phoenix - Manila, Philippines. $478 r/t. Details: https://t.co/YRA7120gkV #travel

#Airfare Deal: [UA] Newark - Calgary, Canada. $222 r/t. Details: https://t.co/gFAg96sByp #travel

@jonk that seems the easiest, but knowing google, the algo is probably way more complex. lol.

@jonk just a guess: location tracking. duration at location.

#Airfare Deal: [UA] San Francisco - Montreal, Canada. $326 r/t. Details: https://t.co/igZPpwPPln #travel

#Airfare Deal: [HA] Seattle - Auckland, New Zealand. $782 r/t. Details: https://t.co/kSvfiEhWJc #travel

#Airfare Deal: [UA] Philadelphia - Denver (and vice versa) $134 (Regular Economy) / $94 (Basic Economy) r/t. Detail… https://t.co/3E9yKsfLqL

#Airfare Deal: [UA] Los Angeles - Cancun, Mexico. $241 r/t. Details: https://t.co/DYizZ1P57X #travel

#Airfare Deal: [QR] Dallas - Ahmedabad, India. $593 r/t. Details: https://t.co/IqkHNrW5j7 #travel

#Airfare Deal: [UA] Chicago - Munich, Germany. $459 r/t. Details: https://t.co/HWH70Jhidh #travel

#Airfare Deal: [B6] Boston - San Jose, California (and vice versa) $196 r/t. Details: https://t.co/lPXVXhAKEy… https://t.co/st7V9JW58H

@OWNG crap, it should say $196.

#Airfare Deal: [UA] Miami - Denver (and vice versa) $142 (Regular Economy) / $78 (Basic Economy) r/t. Details:… https://t.co/mt6eO3OClh

@iflyplaces @AirlineFlyer @rapidtravelchai thx

@AirlineFlyer @rapidtravelchai whats the best PATH -&gt; BUS -&gt; EWR route?

#Airfare Deal: [AC] New York - Vancouver, Canada. $233 r/t. Details: https://t.co/0mU7cC87um #travel

#Airfare Deal: [QR] Washington D.C. - Bali, Indonesia. $653 r/t. Details: https://t.co/WgbYtngkOj #travel w/ Good Winter availability.

@Chiqee LHR = the suck.

@foofiter miss you in Thailand by a few days.

@jonk the Asian greens looks great, guess the sous vide lamb is okay too.

@foofiter looks like your cx a350 segment is hkg - bkk, equipment swap is high. ours just changed for Tuesday.

#Airfare Deal: [HA] Portland / Phoenix - Auckland, New Zealand. $782 r/t. Details: https://t.co/r4tbyUn2gU #travel

#Airfare Deal: [AM] New York - Guadalajara, Mexico. $271 r/t. Details: https://t.co/BAR2YcS5wU #travel

#Airfare Deal: [UA] Los Angeles - Port of Spain, Trinidad and Tobago. $405 r/t. Details: https://t.co/dfPae85aIv #travel

#Airfare Deal: [DL/AA/UA] Seattle - Guadalajara, Mexico. $330 r/t. Details: https://t.co/Dno0Xrql3s #travel

#Airfare Deal: [AA] Philadelphia - Fort Myers, Florida (and vice versa) $114 (Regular Economy) / $74 (Basic Economy… https://t.co/soAB5lK84p

#Airfare Deal: [HA] San Francisco / San Jose / Oakland / Sacramento - Auckland, New Zealand. $708 r/t. Details:… https://t.co/VUh26Y1UGr

#Airfare Deal: [QR] Dallas - Bali, Indonesia. $732 r/t. Details: https://t.co/VkVpINb0a9 #travel

#Airfare Deal: [AA] Chicago - West Palm Beach, Florida (and vice versa) $134 (Regular Economy Fare) / $94 (Basic Ec… https://t.co/0gd5EOD3jh

#Airfare Deal: [LX] Miami - Mumbai, India. $662 r/t. Details: https://t.co/OeUt4jVjFR #travel

#Airfare Deal: [UA] Newark - Mexico City, Mexico. $247 r/t. Details: https://t.co/aJpIREx3zY #travel nonstop flight.

#Airfare Deal: [B6] Boston - San Diego (and vice versa) $256 r/t. Details: https://t.co/1BCbjtUIQJ #travel

#Airfare Deal: [UA] Baltimore - Puerto Vallarta, Mexico. $265 r/t. Details: https://t.co/ySaQQiHfub #travel Includes Winter availability.

#Airfare Deal: [B6] New York - Palm Springs, California (and vice versa) $186 r/t. Info: https://t.co/EEgQuzapZ2  For Winter #travel

@ukudigada @AzieDee Black Friday airfare sales in general are lackluster. the best deals can show up at any time, n… https://t.co/4Uo6eBY4aI

@djlan which airport? out of a few airports, lounges w/ domestic airlines are mostly uninspiring.

Practical Travel Tips: Prague, Czech Republic. Details: https://t.co/Ivx0DSyoyF #travel


# Find  the deals in the TheFlightDeal tweets  that match products in BestDeal MySQL product table

In [298]:
import re
import pymysql

cnx = pymysql.connect(user='root',password='admin',host='127.0.0.1',database='flyers')
cursor = cnx.cursor()
query = ("SELECT airportName, destinationName FROM route")
cursor.execute(query)

dealMatchGauranteed=[]

for product in cursor:
    for tweet in timeline:
        deal = (tweet['text']).encode('ascii','ignore')
        if (len(re.findall(r'\s'+product[0]+'\s',deal)) >= 1):
            dealMatchGauranteed = dealMatchGauranteed + [deal]

In [299]:
# Sanity Test that  we got some deals
dealMatchGauranteed[:2]

['#Airfare Deal: [WestJet] Boston - Montreal, Canada. $145 roundtrip. Details: https://t.co/LlS5odYQgM #travel',
 '#Airfare Deal: [American] Boston - Cancun, Mexico. $284 roundtrip. Details: https://t.co/ZWRGzHPDM4 For Winter#travel, get out of the cold.']

# Create and write the deals into DealMatches.txt file that will be used by web-app of BestDeal to display two deal matches

In [300]:
dealMatchFile = open('DealMatches.txt', 'w')

for deal in dealMatchGauranteed:
    deal = deal.replace("\n", "");
    dealMatchFile.write("%s\n" % deal)

dealMatchFile.close()